


    




/* login form */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn-secondary {
    margin: auto;
}

.container-fluid h2 {
    align-items: center;
    margin: auto;
}





/* 
  Registration Form
  */

.container1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 90%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

select {
    width: 90%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}





button:hover {
    background-color: #b38600;
}
