
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #eed9d6;
}

.navbar {
    background-color: rgb(0 0 0 / 80%);
    transition: all 0.5s;
    z-index: 997;
   
}

.logo {
    width: 50px;
    border-radius: 50px;
}


.navbar-brand {
    display: flex;
    align-items: center;
}

 




    .navbar-brand h5 {
        color: aquamarine;
        margin-left: 10px;
        margin-top: 8px;
    }


.navbar-nav {
    margin: auto;
}

    .navbar-nav a {
        background-color: black;
        border-radius: 5px;
        margin: 10px;
        color: white;
        opacity: 1;
    }




.btn-nav {
    background-color: rgb(103, 211, 103);
    margin-left: 20px;
}

.reg-logbtn {
    display:flex;
}

.fa-bars {
    display: flex;
    width: max-content;
    align-items: center;
}






/* Other */



#other h2 {
    margin-top: 100px;
    color: red;
}

.divider img {
    margin: 30px
}

.ourstory, .other-p {
    width: 40%;
}

.discover a {
    text-decoration: none;
    color: #c2615b;
    margin: 30px;
    border: 2px solid #c2615b;
    padding: 10px;
}





/* New One */
/* Additional styling for better visualization */
/* About */

.founders a {
    text-decoration: none;
    font-size: 128px;
    font-size: 8rem;
    font-weight: 500;
    font-family: 'EB Garamond',serif;
}

.founders h5 {
    margin: 20px 0px 30px 0px;
    line-height: 1.6;
    font-size: 1.2em;
}

.founders-data {
    margin-bottom: 200px;
    justify-items:center;
}

.card {
    margin-right: 0px;
}


 /*.container*/

.other, .ourstory {
    box-shadow: none;
    display: flex;
    margin: auto;
    align-items: center;
}


section {
    padding: 0px 0;
}

.about-section {
    display: flex;
    align-items: center;
}

    .about-section img {
        max-width: 100%;
        height: auto;
        margin-right: 20px;
    }

    .about-section h3 {
        margin-bottom: 10px;
    }

    .about-section ul {
        list-style-type: none;
        padding-left: 0;
    }

    .about-section li {
        margin-bottom: 5px;
    }


